body {
	font-family: Verdana;
	background-color: rgb(27, 12, 63);
}

nav a {
	display: inline-block;
	margin-right: 20px;
}

.container {
	background-color: #EEE;
	max-width: 600px;
	padding: 30px;
	border: 1px solid #333;
	margin: auto;
}

label {
	display: block;
}

input, textarea, button {
	width: 100%;
	margin-bottom: 15px;
	padding: 6px 10px;
	box-sizing: border-box;
	font-family: inherit;
}

article.message {
	border: 1px solid rgb(27, 12, 63);
	padding: 10px;
	margin: 20px 0;
}